# Exercise 6 - calculating option pnl

The purpose of the this exercise is to demonstrate how to calculate the PNL for an option trade.  In this class, we won't go deep into option pricing and theory, and PNLs will usually be provided for any analysis that you will be doing.  However, this exercise gives a data-focused introduction to these topics.

The dataset that we will be using for this exercise are the EOD prices for a call option on SPY, with a strike price of 289 and a expiration date of 9/21/2018.  The prices start on 8/17/2018 and end on the option expiration date.  Each row consists of one day of price data.

#### 1) What should you do at the beginning of all of your notebooks?

In [1]:
import pandas as pd
import numpy as np

#### 2) Read-in the CSV called `spy_call_pnl.csv`.

In [2]:
df_call = pd.read_csv('../data/spy_call_pnl.csv')
df_call.head()

,underlying,upx,type,expiration,data_date,strike,bid,ask,mid,delta
0,SPY,285.019989,call,2018-09-21,2018-08-17,289,1.39,1.41,1.40,0.297905
1,SPY,285.679993,call,2018-09-21,2018-08-20,289,1.56,1.58,1.57,0.328623
2,SPY,286.269989,call,2018-09-21,2018-08-21,289,1.73,1.75,1.74,0.351140
3,SPY,286.209991,call,2018-09-21,2018-08-22,289,1.53,1.55,1.54,0.335256
4,SPY,285.790009,call,2018-09-21,2018-08-23,289,1.39,1.41,1.40,0.317830

#### 3) Use `DataFrame` masking to verify that the on the `expiration` date, the `bid`, `ask`, and `mid` are all equal to the payoff of the option.  Also verify that the `delta` of the option is equal to $1.0$ at expiration.

In [3]:
# all prices are equal to 292.04 - 289
# delta is equal to 1.0
df_call[df_call.data_date == df_call.expiration]

,underlying,upx,type,expiration,data_date,strike,bid,ask,mid,delta
24,SPY,292.040009,call,2018-09-21,2018-09-21,289,3.040009,3.040009,3.040009,1.0

#### 4) The following code adds a column called `mid_pnl` to `df_call` and then populates it with the daily-pnl from *selling* this option. Run the code and also analyze what it does.


#### In particular, this calculation implements the following logic:

#### i. we sell the option at the `mid` price on 8/17/2018 (the execution date)
#### ii. we hold the option until expiration
#### iii each day we *mark* our position against the `mid`.

In [4]:
df_call['mid_pnl'] = np.nan # initialing the column with NANs
for ix in df_call.index:

    if ix == 0:
        df_call.at[ix, 'mid_pnl'] = 0 # trade at mid, mark at mid, so always zero
    else:
        prev_mid = df_call.at[ix - 1, 'mid']
        curr_mid = df_call.at[ix, 'mid']
        df_call.at[ix, 'mid_pnl'] = prev_mid - curr_mid # marking against mid
    

df_call.head()

,underlying,upx,type,expiration,data_date,strike,bid,ask,mid,delta,mid_pnl
0,SPY,285.019989,call,2018-09-21,2018-08-17,289,1.39,1.41,1.40,0.297905,0.00
1,SPY,285.679993,call,2018-09-21,2018-08-20,289,1.56,1.58,1.57,0.328623,-0.17
2,SPY,286.269989,call,2018-09-21,2018-08-21,289,1.73,1.75,1.74,0.351140,-0.17
3,SPY,286.209991,call,2018-09-21,2018-08-22,289,1.53,1.55,1.54,0.335256,0.20
4,SPY,285.790009,call,2018-09-21,2018-08-23,289,1.39,1.41,1.40,0.317830,0.14

#### In the empty cell below you will modify this code to make this calculation more realistic.

#### In particular, your modification is going assume: 1) that we sell this option at the `bid`;  2) that we mark our position against the ask at the end of each day.  This is achieved with the following:

#### i. Create a new column called `bid_ask_pnl`.

#### ii. On the execution date, `bid_ask_pnl` is equal `bid - ask`.

#### iii. On all subsequent days, `bid_ask_pnl` is equal to `prev_ask - curr_ask`.

In [5]:
df_call['bid_ask_pnl'] = np.nan
for ix in df_call.index:

    if ix == 0:
        df_call.at[ix, 'bid_ask_pnl'] = \
            df_call.at[ix, 'bid'] - df_call.at[ix, 'ask']
    else:
        prev_ask = df_call.at[ix - 1, 'ask']
        curr_ask = df_call.at[ix, 'ask']
        df_call.at[ix, 'bid_ask_pnl'] = prev_ask - curr_ask
    

df_call.head()

,underlying,upx,type,expiration,data_date,strike,bid,ask,mid,delta,mid_pnl,bid_ask_pnl
0,SPY,285.019989,call,2018-09-21,2018-08-17,289,1.39,1.41,1.40,0.297905,0.00,-0.02
1,SPY,285.679993,call,2018-09-21,2018-08-20,289,1.56,1.58,1.57,0.328623,-0.17,-0.17
2,SPY,286.269989,call,2018-09-21,2018-08-21,289,1.73,1.75,1.74,0.351140,-0.17,-0.17
3,SPY,286.209991,call,2018-09-21,2018-08-22,289,1.53,1.55,1.54,0.335256,0.20,0.20
4,SPY,285.790009,call,2018-09-21,2018-08-23,289,1.39,1.41,1.40,0.317830,0.14,0.14

#### 5) Verify that the sum of the `mid_pnls` is equal the execution-date `mid` price -less- the option payoff.  Also verify that the sum of the `bid_ask_pnls` is equal to the execution-date `bid` price -less- the option payoff.

In [6]:
print(np.sum(df_call['mid_pnl']))     # this is the same as 1.40 - (292.04 - 289)
print(np.sum(df_call['bid_ask_pnl'])) # this is the same as 1.39 - (292.04 - 289)

-1.640008568763733
-1.6500085592269893

#### 6) The `delta` of an option is the sensitivity of it's prices to changes in the underlying prices.  The delta is always between 0 and 1.  A `delta` of  1 means that for every one dollar change in the underlying price, there will be a one dollar change in the option price.  A delta of 0.5 means that a one  dollar change in underlying price will result in a 50 cent change in the option price.

#### Options that are in-the-money have will have a delta of greater that 0.50.  Options that are out-of-the-money will have a delta of less that 0.50.  Quants usually argue this point analytically.  As data analysts, we will be satisfied to confirm it empirically.

#### Show that the average `delta` on days that our option is OTM is less that 0.50.  Also show that the average `delta` on ITM days is greater that 0.50

In [7]:
# ITM
np.mean(df_call[df_call.upx > df_call.strike]['delta'])

0.5953252248901814

In [8]:
# OTM
np.mean(df_call[df_call.upx <= df_call.strike]['delta'])

0.35653435576037906