# Exercise - Stock PNL

The end goal of this exercise is to caculate the daily profit-and-loss on an investment in a stock.

Profit-and-loss, otherwise known as PNL, is the daily dollar change in the value of an investment or position.

Along the way, we are going to use the tools of `if`-`else` statments, `for` loops, and `DataFrame` masking.

We will use data from the following location: *index_etf_dec_2018.csv*

#### 1) Import the `pandas` and `numpy` packages.

In [1]:
import pandas as pd
import numpy as np

#### 2) Read in the data set into a dataframe called `df_etf`.

In [2]:
df_etf = pd.read_csv('index_etf_dec_2018.csv')
df_etf = df_etf.round(2)
df_etf.head()

  symbol        date    open    high     low   close     volume  adjusted
0    SPY  2018-11-30  273.81  276.28  273.45  275.65   98204200    271.53
1    SPY  2018-12-03  280.28  280.40  277.51  279.30  103176300    275.12
2    SPY  2018-12-04  278.37  278.85  269.90  270.25  177986000    266.21
3    SPY  2018-12-06  265.92  269.97  262.44  269.84  204185400    265.80
4    SPY  2018-12-07  269.46  271.22  262.63  263.57  161018900    259.63

#### 3) Notice that the `date` column is being read-in as a `object` type.  Convert it to a `datetime` by using the `.to_datetime()` method in `pandas`.

In [3]:
df_etf['date'] = pd.to_datetime(df_etf['date'])
df_etf.dtypes

symbol              object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
adjusted           float64
dtype: object

#### 3) The following commented code is from tutorial 09.  It adds a `return` column to `df_etf` and then fills it in appropriate.  Modify this code so that it adds a `daily_pnl` column instead, and fills it in.  The daily_pnl is simply the difference between the current price and previous price; for the first day of the month leave it as a `NaN`.

In [4]:
# df_etf['return'] = np.nan
# for ix in range(1, df_etf.shape[0]):
    
#     # grabbing symbols from df_etf
#     curr_sym = df_etf.at[ix, 'symbol']
#     prev_sym = df_etf.at[ix-1, 'symbol']
    
#     # grabbling prices from df_etf
#     curr_adj = df_etf.at[ix, 'adjusted']
#     prev_adj = df_etf.at[ix-1, 'adjusted']
    
#     # calculating return
#     if curr_sym == prev_sym:
#         df_etf.at[ix, 'return'] = (curr_adj / prev_adj) - 1

# df_etf.head()

In [5]:
df_etf['daily_pnl'] = np.nan
for ix in range(1, df_etf.shape[0]):
    
    # grabbing symbols from df_etf
    curr_sym = df_etf.at[ix, 'symbol']
    prev_sym = df_etf.at[ix-1, 'symbol']
    
    # grabbling prices from df_etf
    curr_adj = df_etf.at[ix, 'adjusted']
    prev_adj = df_etf.at[ix-1, 'adjusted']
    
    # calculating daily pnl
    if curr_sym == prev_sym:
        df_etf.at[ix, 'daily_pnl'] = (curr_adj - prev_adj)

df_etf.head()

,symbol,date,open,high,low,close,volume,adjusted,daily_pnl
0,SPY,2018-11-30,273.81,276.28,273.45,275.65,98204200,271.53,NaN
1,SPY,2018-12-03,280.28,280.40,277.51,279.30,103176300,275.12,3.59
2,SPY,2018-12-04,278.37,278.85,269.90,270.25,177986000,266.21,-8.91
3,SPY,2018-12-06,265.92,269.97,262.44,269.84,204185400,265.80,-0.41
4,SPY,2018-12-07,269.46,271.22,262.63,263.57,161018900,259.63,-6.17

#### 4)  Use `DataFrame` masking in conjunction with an aggregation calculation to calculate the monthly PNL for each ETF.  The monthly PNL is the sum of the daily PNLs.  You will use four different masking statements, one for each of the ETFs.

In [9]:
print(df_etf[df_etf.symbol == 'SPY']['daily_pnl'].sum().round(2))
print(df_etf[df_etf.symbol == 'IWM']['daily_pnl'].sum().round(2))
print(df_etf[df_etf.symbol == 'QQQ']['daily_pnl'].sum().round(2))
print(df_etf[df_etf.symbol == 'DIA']['daily_pnl'].sum().round(2))

-23.91
-18.1
-14.57
-21.31

#### 5) Calculate the monthly PNL of a \$10,000 investment in QQQ during the time period.

In [7]:
# setting investment size and symbol
dbl_investment = 10000
symbol = 'QQQ'


# grabbing the first date and the first price
dt_first = np.min(df_etf.date)
dbl_start_price = df_etf[(df_etf.date==dt_first) & (df_etf.symbol == symbol)].adjusted


# calculating the number of shares that $10K would buy
dbl_shares = dbl_investment / dbl_start_price

# calculating monthly pnl
dbl_monthly_pnl = \
    (dbl_shares * df_etf[df_etf.symbol == symbol]['daily_pnl'].sum())
dbl_monthly_pnl

40   -866.179181
Name: adjusted, dtype: float64