# Tutorial 11 - Calculating Monthly Statistics

The purpose of this exercise is to demonstrate how to use a custom `aggregation` function with `groupby`.

In particular, we will calculate three monthly statistics for several ETFs during the year of 2018.  The three statistics we will calculate are:

1. average daily volume

2. monthly return

3. monthly volatility

## Loading Packages

Let's load the packages that we will need for the tutorial.

In [1]:
import numpy as np
import pandas as pd

## Reading-In Data

In this tutorial we will be working with the `sector_etf_2018.csv` data set, which consists of end-of-day price data for the Select Sector SPDR ETFs.  Each of these funds tracks a particular subset (sector) of the SP&500 Index.  For example, XLF tracks the financial sector and has major holdings in JP Morgan, Wells Fargo, and Bank of America.

In [2]:
df_etf = pd.read_csv('../data/sector_etf_2018.csv')
df_etf.head()

,symbol,date,open,high,low,close,volume,adjusted,dly_ret
0,XLY,2018-01-02,99.110001,100.190002,99.110001,100.190002,4895600,98.274132,NaN
1,XLY,2018-01-03,100.290001,100.730003,100.269997,100.650002,5319000,98.725327,0.004591
2,XLY,2018-01-04,101.040001,101.110001,100.459999,100.980003,3457400,99.049019,0.003279
3,XLY,2018-01-05,101.430000,101.830002,101.199997,101.779999,4294400,99.833710,0.007922
4,XLY,2018-01-08,101.830002,102.070000,101.699997,101.900002,2670000,99.951424,0.001179

**Coding Challenge:** Use a `DataFrame` attribute to determine the number of rows and columns in `df_etf`.

## Exploring and Cleaning the Data

As we can see from the coding challenge, this data set is large (by our standards).  Whenever, I encounter a new data set that I can't look at in its entirety, I like to do a bit of exploration via the built-in `pandas` methods.

We know we have a variety of ETFs in our data, but it would be useful to know how many (especially if we were expecting a certain number).

In [3]:
print(df_etf['symbol'].unique())
print(df_etf['symbol'].unique().size)

['XLY' 'XLP' 'XLE' 'XLF' 'XLV' 'XLI' 'XLB' 'XLRE' 'XLK' 'XLU']
10

**Coding Challenge:** What `DataFrame` attribute do we use to check the data types of the columns of `df_etf`?

As we can see from the answer to the coding challenge, the `date` column was read-in as a string rather than as a date.  This is a common problem, so `pandas` has a built in method named `pandas.to_datetime()` to address this issue.

In [4]:
df_etf['date'] = pd.to_datetime(df_etf['date'])
df_etf.dtypes

symbol              object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
adjusted           float64
dly_ret            float64
dtype: object

When I work with a time series of daily prices, I like to check the first and last trade dates that are represented in the data.

In [5]:
print(df_etf['date'].min())
print(df_etf['date'].max())

2018-01-02 00:00:00
2018-12-31 00:00:00

Here is what we know about our data-set thus far:

1. 10 different ETFs are represented.

1. Prices are coming from the entirety of 2018.


Here are some things that we aren't necessarily sure of that would be worth checking a high-stakes situation:

1. Is there a row/price for each symbol on each trade date?

1. Is there ever more than one row/price for a given symbol on a given trade date?

We won't bother with these questions for the purposes of this tutorial, but these are the types of data-integrity questions I will often try to answer when encountering a new data set.

## Adding `year` and `month` Columns

The ultimate goal is to calculate monthly statistics for each of the ETFs in our data set.

As a preliminary step, let's add a month and year column to the `df_etf`, by utilizing the `.dt` attribute that `pandas` provides for date columns.

In [6]:
df_etf['year'] = df_etf['date'].dt.year
df_etf['month'] = df_etf['date'].dt.month
df_etf[['date', 'year', 'month']].head()

        date  year  month
0 2018-01-02  2018      1
1 2018-01-03  2018      1
2 2018-01-04  2018      1
3 2018-01-05  2018      1
4 2018-01-08  2018      1

Let's do a quick data-integrity check:  There are 10 ETFs in our data set and there are 12 months in a year, so the number of symbol-year-month combinations should be 120.

The following code counts the number of rows associated with each symbol-year-month combination and puts that data into a `DataFrame`.

In [7]:
df_num_rows = \
    df_etf.groupby(['symbol', 'year', 'month']).size().reset_index()
df_num_rows.head()

  symbol  year  month   0
0    XLB  2018      1  21
1    XLB  2018      2  19
2    XLB  2018      3  21
3    XLB  2018      4  21
4    XLB  2018      5  22

**Coding Challenge:** Confirm that there are the correct number of symbol-year-month combinations in `df_num_rows`.

Now that we've added the `year` and `month` columns we can proceed to calculating our monthly statistics.

## Average Daily Volume

Let's start with the most straight-forward calculation: average daily volume, over each month, for all 10 of the ETFs in our data set.  

This amounts to:

1. grouping by `symbol`, `month`, and `year`

1. applying the built-in `np.mean()` function to the `volume` column

In [8]:
df_volume = \
    df_etf.groupby(['symbol', 'year', 'month'])['volume'].agg([np.mean]).reset_index()
df_volume.rename(columns={'mean':'avg_volume'}, inplace=True)
df_volume.head()

  symbol  year  month    avg_volume
0    XLB  2018      1  6.082986e+06
1    XLB  2018      2  9.786332e+06
2    XLB  2018      3  6.734552e+06
3    XLB  2018      4  6.431895e+06
4    XLB  2018      5  5.420223e+06

**Coding Challenge:** Calculate the maximum *daily* volume for each symbol, *over the entire year*.

## Monthly Returns

Next, let's calculate monthly returns for each of the ETFs in our data set.  This amounts to:

1. grouping by `symbol`, `month`, and `year`

1. applying an aggregation function to the `daily_returns` column

These are the same two steps that we have done in our previous aggregation examples.  However, there is one additional wrinkle that we are going to have to contend with. 


When we previously aggregated over groups, we used simple built-in aggregation funtions available through `numpy`, such as `np.max` and `np.mean`.  Calculating monthly returns from daily returns is a little more complicated.

Thus, we are going to have to first create a custom function for calculating monthly returns from daily returns, and then use this custom function in `.agg()`.

The following code defines our monthly returns function:

In [9]:
def monthly_ret(dly_ret):
    return np.prod(1 + dly_ret) - 1

Now we can apply `monthly_ret` over all of our groups using the following code.

In [10]:
df_ret = \
    df_etf.groupby(['symbol', 'month', 'year'])['dly_ret'].agg([monthly_ret]).reset_index()
df_ret.head()

  symbol  month  year  monthly_ret
0    XLB      1  2018     0.025411
1    XLB      2  2018    -0.052740
2    XLB      3  2018    -0.045112
3    XLB      4  2018     0.001229
4    XLB      5  2018     0.020523

So, we can see from our calculation that in March of 2018, XLB had a monthly return of -4.5112%.

**Coding Challenge:** Which ETF had the highest single monthly return in all of 2018?  What was the month?

## Monthly Volatility

Let's use a similar process to calculate the monthly volatility of each of the ETFs.

We begin by defining a custom function that calculates the monthly volatility from daily returns.

In [11]:
def monthly_vol(dly_ret):
    return np.std(dly_ret) * np.sqrt(252)

We can now use our `monthly_vol` function in to perform an aggregating calculation.

In [12]:
df_vol = \
    df_etf.groupby(['symbol', 'month', 'year'])['dly_ret'].agg([monthly_vol]).reset_index()
df_vol.head()

  symbol  month  year  monthly_vol
0    XLB      1  2018     0.102742
1    XLB      2  2018     0.290640
2    XLB      3  2018     0.210103
3    XLB      4  2018     0.212939
4    XLB      5  2018     0.119586

**Coding Challenge:**  What was the volatility for XLF in December 2018?

## Combining Metrics - `inner join`

Now, suppose that we want to combine our three metrics into one report - meaning that we want them organized into one `DataFrame` in an easy to read fashion.

One way to do this is to use the `pandas.merge()` method that we learned in the previous tutorial to join together `df_volume` (average daily volume), `df_ret` (monthly returns), and `df_vol` (monthly volatility).

In [13]:
df_joined_1 = \
    pd.merge(df_volume, df_ret, on=['symbol', 'year', 'month'])
df_joined_2 = pd.merge(df_joined_1, df_vol, on=['symbol', 'year', 'month'])
df_joined_2.head()

  symbol  year  month    avg_volume  monthly_ret  monthly_vol
0    XLB  2018      1  6.082986e+06     0.025411     0.102742
1    XLB  2018      2  9.786332e+06    -0.052740     0.290640
2    XLB  2018      3  6.734552e+06    -0.045112     0.210103
3    XLB  2018      4  6.431895e+06     0.001229     0.212939
4    XLB  2018      5  5.420223e+06     0.020523     0.119586

## Combining Metrics - multiple aggregation

Another way to do this would be to supply all of our custom aggregation fuctions as arguments to the `.agg()` function in one shot.  

Here is what that would look like:

In [14]:
# defining aggregations
agg_funcs = \
    {'volume':[np.mean], 'dly_ret':[monthly_ret, monthly_vol]}

# performing all aggregations all three aggregations at once
df_joined = \
    df_etf.groupby(['symbol', 'month', 'year']).agg(agg_funcs).reset_index()

# looking at the data frame
df_joined.head()

  symbol month  year        volume     dly_ret
                              mean monthly_ret monthly_vol
0    XLB     1  2018  6.082986e+06    0.025411    0.102742
1    XLB     2  2018  9.786332e+06   -0.052740    0.290640
2    XLB     3  2018  6.734552e+06   -0.045112    0.210103
3    XLB     4  2018  6.431895e+06    0.001229    0.212939
4    XLB     5  2018  5.420223e+06    0.020523    0.119586

Notice that we the inputs into the `.agg()` method is a `dict` whose elements are pairs that look like: 

`'column_name':[list_of_aggregating_functions`].

**Code Challenge:** Modify the code above to add maximum daily volume to the report.

## Related Reading

*PDSH* - 3.7 - Combining Datasets: Merging and Joining

*PDSH* - 3.8 - Aggregation and Grouping

*Python for Data Analysis (McKinney)* - Chapter 9 (pp 251-274) Data Aggregation and Grouping Operations