# Tutorial 16 - `pandas_datareader`

The purpose of this short tutorial is to introduce the `pandas_datareader` package. It is a convenient way to download a variety of online data sources such as Yahoo Finance, Quandl, and the Federal Reserve (FRED).

This functionality used to be part of `pandas.io` submodule of `pandas` but now lives inside a separate package.

### Loading Packages

Let's begin by loading the packages that we will need.

In [1]:
import pandas as pd
import pandas_datareader as pdr

### Yahoo Finance

The function for retrieving data from Yahoo is `pdr.get_data_yahoo()`.

The following code retrieves `SPY` data from 2014-2018.

In [2]:
df_spy = pdr.get_data_yahoo('SPY', start='2014-01-01', end='2019-01-01')
df_spy.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2014-01-02,184.070007,182.479996,183.979996,182.919998,119636900.0,163.383347
2014-01-03,183.600006,182.630005,183.229996,182.889999,81390600.0,163.356522
2014-01-06,183.559998,182.080002,183.490005,182.360001,108028200.0,162.883148
2014-01-07,183.789993,182.949997,183.089996,183.479996,86144200.0,163.883560
2014-01-08,183.830002,182.889999,183.449997,183.520004,96582300.0,163.919250

The following code retrieves VIX data from 2014-2018.

In [3]:
df_vix = pdr.get_data_yahoo('^VIX', start='2014-01-01', end='2019-01-01')
df_vix.head()

             High    Low   Open  Close  Volume  Adj Close
Date
2014-01-02  14.59  14.00  14.32  14.23       0      14.23
2014-01-03  14.22  13.57  14.06  13.76       0      13.76
2014-01-06  14.00  13.22  13.41  13.55       0      13.55
2014-01-07  13.28  12.16  12.38  12.92       0      12.92
2014-01-08  13.24  12.86  13.04  12.87       0      12.87

**Code Challenge:** Grab the 2018 prices for `XLF`.

### Federal Reserve (FRED)

The function for retrieving data from FRED is `pdr.get_data_fred()`.

This code grabs the VXN index (a VIX-like calculation for the Nasdaq 100) for 2014-2018.

In [4]:
df_vxn = pdr.get_data_fred('VXNCLS', start='2014-01-01', end='2019-01-01')
df_vxn.head()

            VXNCLS
DATE
2014-01-01     NaN
2014-01-02   15.88
2014-01-03   15.85
2014-01-06   15.82
2014-01-07   15.10

### Further Reading

At the moment, there isn't a lot of great documentation about `pandas_datareader`.  

Here is a link to the [offical docs](https://pydata.github.io/pandas-datareader/stable/), which aren't the best.