# Exercise 03 - stock pnl

The end goal of this exercise is to caculate the daily profit-and-loss on an investment of stock.

Profit-and-loss, otherwise known as PNL, is the daily dollar change in the value of an investment or position.

Along the way, we are going to use the tools of `if`-`else` statments (tutorial 06), `for` loops (tutorial 06), and `DataFrame` masking (tutorial 05).

We will use data from the following location: *../data/index_etf_dec_2018.csv*

#### 1) Import the `pandas` and `numpy` packages.

In [1]:
import pandas as pd
import numpy as np

#### 2) Read in the data set into a dataframe called `df_etf`.

In [2]:
df_etf = pd.read_csv('../data/index_etf_dec_2018.csv')
df_etf.head()

,symbol,date,open,high,low,close,volume,adjusted
0,SPY,2018-12-03,280.279999,280.399994,277.510010,279.299988,103176300,277.678436
1,SPY,2018-12-04,278.369995,278.850006,269.899994,270.250000,177986000,268.681000
2,SPY,2018-12-06,265.920013,269.970001,262.440002,269.839996,204185400,268.273376
3,SPY,2018-12-07,269.459991,271.220001,262.630005,263.570007,161018900,262.039795
4,SPY,2018-12-10,263.369995,265.160004,258.619995,264.070007,151445900,262.536896

#### 3) Notice that the `date` column is being read-in as a `object` type.  Convert it to a `datetime` by using the `.to_datetime()` method in `pandas`.

In [3]:
df_etf['date'] = pd.to_datetime(df_etf['date'])
df_etf.dtypes

symbol              object
date        datetime64[ns]
open               float64
high               float64
low                float64
close              float64
volume               int64
adjusted           float64
dtype: object

#### 3) The following commented code is from tutorial 09.  It adds a `return` column to `df_etf` and then fills it in appropriate.  Modify this code so that it adds a `daily_pnl` column instead, and fills it in.  The daily_pnl is simply the difference between the current price and previous price; for the first day of the month leave it as a `NaN`.

In [4]:
# df_etf['return'] = np.nan
# for ix in range(1, df_etf.shape[0]):
    
#     # grabbing symbols from df_etf
#     curr_sym = df_etf.at[ix, 'symbol']
#     prev_sym = df_etf.at[ix-1, 'symbol']
    
#     # grabbling prices from df_etf
#     curr_adj = df_etf.at[ix, 'adjusted']
#     prev_adj = df_etf.at[ix-1, 'adjusted']
    
#     # calculating return
#     if curr_sym == prev_sym:
#         df_etf.at[ix, 'return'] = (curr_adj / prev_adj) - 1

# df_etf.head()

In [5]:
df_etf['daily_pnl'] = np.nan
for ix in range(1, df_etf.shape[0]):
    
    # grabbing symbols from df_etf
    curr_sym = df_etf.at[ix, 'symbol']
    prev_sym = df_etf.at[ix-1, 'symbol']
    
    # grabbling prices from df_etf
    curr_adj = df_etf.at[ix, 'adjusted']
    prev_adj = df_etf.at[ix-1, 'adjusted']
    
    # calculating daily pnl
    if curr_sym == prev_sym:
        df_etf.at[ix, 'daily_pnl'] = (curr_adj - prev_adj)

df_etf.head()

,symbol,date,open,high,low,close,volume,adjusted,daily_pnl
0,SPY,2018-12-03,280.279999,280.399994,277.510010,279.299988,103176300,277.678436,NaN
1,SPY,2018-12-04,278.369995,278.850006,269.899994,270.250000,177986000,268.681000,-8.997436
2,SPY,2018-12-06,265.920013,269.970001,262.440002,269.839996,204185400,268.273376,-0.407624
3,SPY,2018-12-07,269.459991,271.220001,262.630005,263.570007,161018900,262.039795,-6.233581
4,SPY,2018-12-10,263.369995,265.160004,258.619995,264.070007,151445900,262.536896,0.497101

#### 4)  Use `DataFrame` masking in conjunction with an aggregation calculation to calculate the monthly PNL for each ETF.  The monthly PNL is the sum of the daily PNLs.  You will use four different masking statements, one for each of the ETFs.

In [6]:
print(df_etf[df_etf.symbol == 'SPY']['daily_pnl'].sum())
print(df_etf[df_etf.symbol == 'IWM']['daily_pnl'].sum())
print(df_etf[df_etf.symbol == 'QQQ']['daily_pnl'].sum())
print(df_etf[df_etf.symbol == 'DIA']['daily_pnl'].sum())

-29.928435999999977
-20.706069999999983
-18.868362999999988
-27.53401199999999

#### 5) Calculate the monthly PNL of a \$10,000 investment in QQQ during the time period.

In [7]:
# setting investment size and symbol
dbl_investment = 10000
symbol = 'QQQ'


# grabbing the first date and the first price
dt_first = np.min(df_etf.date)
dbl_start_price = df_etf[(df_etf.date==dt_first) & (df_etf.symbol == symbol)].adjusted


# calculating the number of shares that $10K would buy
dbl_shares = dbl_investment / dbl_start_price

# calculating monthly pnl
dbl_monthly_pnl = \
    (dbl_shares * df_etf[df_etf.symbol == symbol]['daily_pnl'].sum())
dbl_monthly_pnl

36   -1098.029716
Name: adjusted, dtype: float64